.add-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 5px 5px 10px #c5c5c5, -5px -5px 10px #ffffff;
    transition: 0.3s;
}

input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 5px 5px 15px #c5c5c5, inset -5px -5px 15px #ffffff;
    transition: 0.3s;
}

button {
    background-color: #e0e0e0;
    border-radius: 50px;
    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 40px;
    transition: all 0.2s ease-in-out;
    border: 2px solid rgb(206, 206, 206);
}

button:hover {
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
    border-color: #bcbcbc;
}

button:focus {
    outline: none;
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}