.home {
    padding-top: 50px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    width: 400px;
    margin: auto;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 5px 5px 10px #c5c5c5, -5px -5px 10px #ffffff;
    transition: 0.3s;
}

input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 5px 5px 15px #c5c5c5, inset -5px -5px 15px #ffffff;
    transition: 0.3s;
}

.add-button {
    background-color: #e0e0e0;
    border-radius: 50px;
    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 40px;
    transition: all 0.2s ease-in-out;
    border: 2px solid rgb(206, 206, 206);
}

.add-button:hover {
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
    border-color: #bcbcbc;
}

.add-button:focus {
    outline: none;
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

.task-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    justify-items: center;
    margin-top: 60px;
    max-height: 80vh;
}