.task-item {
    background-color: #f0f0f0;
    padding: 16px;
    border-radius: 8px;
    width: 150px;
    height: auto;
    overflow: visible;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-remove {
    background-color: #e0e0e0;
    border-radius: 15px;
    box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 18px;
    padding: 7px;
    transition: all 0.2s ease-in-out;
    border: 2px solid rgb(206, 206, 206);
}

.task-remove:hover {
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
    border-color: #bcbcbc;
}

.task-remove:focus {
    outline: none;
    box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}